.Thankyoupagemain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Thankyoupage {
  background-color: #f5e8c5;
  justify-content: center;
  border: 4px solid #8b5a2b;
  background-image: none;
  align-items: center;
  padding: 10px;
  font-weight: 200;
}
