@font-face {
  font-family: 'stardew-valley';
  src: url(./schrifftart/StardewValley.ttf);
}

* {
  margin: 0;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'stardew-valley', serif;
}
