.pierrehomepage {
  background-image: none;
}

.aboutmepierre {
  color: brown;
  width: 500px;
  border: 8px solid #8b5a2b;
  padding: 10px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: #f5e8c5;
  background-image: none;
  h1 {
    background-image: none;
    text-decoration: underline;
    font-size: 80px;
  }
}

.aboutmetext {
  padding-top: 20px;
  padding-left: 20px;

  background-image: none;
  p {
    background-image: none;
  }
}
.Imagebox {
  display: flex;
  background-image: none;
  color: brown;
  width: 300px;
  border: 8px solid #8b5a2b;
  padding: 10px;
  height: 367px;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  background-color: #f5e8c5;
}
.home {
  display: flex;
  align-items: flex-start;
  gap: 0;
}
