.springseedId {
  color: brown;
  width: 500px;
  height: 400px;
  border: 15px solid #8b5a2b;
  padding: 17px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: #f5e8c5;
  background-image: none;
  text-decoration: none;
  h1 {
    background-image: none;
    font-size: 60px;
  }
  Image {
    background-image: none;
  }
  p {
    background-image: none;
  }
}

.individualimage {
  background-image: none;
}
