.CheckoutFormhead {
  color: brown;
  width: 300px;
  border: 15px solid #8b5a2b;
  padding: 30px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: #f5e8c5;
  background-image: none;
  text-decoration: none;
}

.checkoutpage {
  background-image: none;
  background-color: #f5e8c5;
}
.firstdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: x-large;
}
.seconddiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}
.dritterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}
.vierterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}

.fünfterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}
.sechsterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}
.siebterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}

.achterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  input {
    background-image: none;
  }
}
.neunterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: larger;
}
.zenterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  input {
    background-image: none;
  }
}
.elfterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  input {
    background-image: none;
  }
}
.zwölfterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  button {
    background-image: none;
  }
}
.dreizenterdiv {
  background-image: none;
  background-color: #f5e8c5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  input {
    background-image: none;
  }
}
